@use "@/styles/_breakpoints.scss" as bp;

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    background-color: #eef0f3;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

    width: 100%;
    min-height: 72px;

    margin: 0 auto;

    @include bp.mobile {
        
        min-height: 64px;
        justify-content: center;
    }

    /* between mobile and laptop */
    @include bp.between(bp.$breakpoint-mobile, bp.$breakpoint-laptop) {
       
        min-height: 64px;
        justify-content: center;
    }


    .link {
        margin-left: 24px;
        margin-right: 24px;

        color: #060270;

        display: flex;
        align-items: center;

        @include bp.mobile {
            margin-left: 6px;
            margin-right: 6px;
            justify-content: center;
            flex-direction: column;

            flex: 1;
        }

        /* between mobile and laptop */
        @include bp.between(bp.$breakpoint-mobile, bp.$breakpoint-laptop) {
            margin-left: 12px;
            margin-right: 12px;
            justify-content: center;
            flex-direction: column;

            flex: 1;
        }

        .linkText {
            margin-left: 4px;
            text-align: center;

            @include bp.mobile {
                margin-left: 0;
                margin-top: 2px;
                font-size: 8px;
            }

            /* between mobile and laptop */
            @include bp.between(bp.$breakpoint-mobile, bp.$breakpoint-laptop) {
                margin-left: 0;
                margin-top: 2px;
                font-size: 12px;
            }
        }
    }
}

.headerBanner {
    width: 100%;
    object-fit: cover;
    height: 128px;
    margin-bottom: -4px;

    margin-top: 64px;

    /* mobile (<= 479px) */
    @include bp.mobile {
        height: 72px;
        margin-top: 56px;
    }

    /* between mobile and laptop */
    @include bp.between(bp.$breakpoint-mobile, bp.$breakpoint-laptop) {
        height: 72px;
        margin-top: 56px;
    }
}